.dish-element{
    display:flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 5px;
    padding:5px;
    width:300px;
}

.most-expensive{
    border: solid red 1px;
}

img {
    max-width: 300px;
    height:auto;
}

h1{
    font-size: 20px;
}
h2{
    font-size:15px;
}